{% extends "_base.html" %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li><a href="{{url_prefix + '/'}}">Home</a></li>
                {% for bc in this.breadcrumbs[:-1] %}
                <li><a href="{{bc.url}}">{{bc.title}}</a></li>
                {% endfor %}
                <li class="active">{{this.breadcrumbs[-1].title}}</li>
            </ol>
            {% endblock %}
            
            <section id="content" class="body">
            {% for item in this.content %}
                <h4><a href="{{item.url}}">{{item.title}}</a>
                    {% if item.date|d %}
                    <small>{{item.date|dateformat}}</small></h4>
                {% endif %}
            </h4>
            <p>{{item.teaser}}</p>
            {% endfor %}
            </section>
    </div>
</div>
</div>


{% endblock %}
